---
import { SKIP_REMOTE } from "astro:env/server";
import {
    getGitHubContributionWeeks,
    type ContributionInfo,
} from "@/lib/githubContributions";
import LocalizedDate from "@/components/LocalizedDate.astro";

function getTileColorClass(contributionCount: number) {
    return contributionCount >= 20
        ? "c4"
        : contributionCount >= 10
          ? "c3"
          : contributionCount >= 5
            ? "c2"
            : contributionCount >= 1
              ? "c1"
              : "c0";
}

const contributionInfo: ContributionInfo = SKIP_REMOTE
    ? { totalContributions: 0, weeks: [] }
    : await getGitHubContributionWeeks("kdkasad", new Date("2020-01-01"));
const firstDay = contributionInfo.weeks[0]?.find((day) => day !== null);
const lastDay = contributionInfo.weeks.at(-1)?.at(-1);
---

<github-calendar
    id="github-calendar"
    class="block bg-transparent py-2"
    data-start-date={firstDay?.date.getTime()}
    style="display:block;"
>
    <div
        class="text-secondary flex h-8 flex-row items-end pl-8 font-mono text-lg"
    >
        {contributionInfo.totalContributions.toLocaleString()} commits total
    </div>
    <div
        class="flex w-full flex-row-reverse overflow-x-auto py-1 [scrollbar-color:var(--color-stone-300)_transparent] hover:[scrollbar-color:var(--color-stone-400)_transparent]"
    >
        <div class="flex w-fit flex-row gap-4 px-6">
            {
                firstDay && (
                    <div class="text-secondary rotate-180 text-center font-mono text-lg [writing-mode:vertical-rl]">
                        <LocalizedDate utc date={firstDay.date} />
                    </div>
                )
            }
            <div class="gh-column-parent flex flex-row gap-1">
                {
                    contributionInfo.weeks.map((week) => (
                        <div>
                            {week.map((day) =>
                                day ? (
                                    <div
                                        class={getTileColorClass(
                                            day.contributionCount,
                                        )}
                                        data-c={day.contributionCount}
                                    />
                                ) : (
                                    <div class="empty-tile size-6" />
                                ),
                            )}
                        </div>
                    ))
                }
            </div>
            {
                lastDay && (
                    <div class="text-secondary text-center font-mono text-lg [writing-mode:vertical-rl]">
                        <LocalizedDate date={lastDay.date} utc />
                    </div>
                )
            }
        </div>
    </div>
    <div
        class="github-calendar-tooltip text-background pointer-events-none invisible fixed rounded-md border border-stone-700 bg-stone-600 px-2 py-1 font-mono text-xs opacity-0 shadow-md transition-[top,left,opacity,visibility] duration-200 ease-out"
    >
    </div>
</github-calendar>

{
    /*
    Populate the title attribute of each tile with a tooltip string on the client.
    Doing it on the client saves a lot of unnecessary bytes in the HTML, and won't
    ruin the look of the page if JavaScript is disabled.
    */
}
<script>
    import { getFormatterForStyle } from "@/lib/localizedDates";
    const formatter = getFormatterForStyle("Monday, Jan 1, 2020", "UTC");
    class GitHubCalendarElement extends HTMLElement {
        #tooltip: HTMLDivElement | null = null;
        #container: HTMLDivElement | null = null;
        #tooltipVisibleTile: HTMLDivElement | null = null;

        connectedCallback() {
            const tiles = this.querySelectorAll(
                "div[data-c]",
            ) as NodeListOf<HTMLDivElement>;
            this.#container = this.querySelector(".gh-column-parent")!;
            this.#tooltip = this.querySelector(
                ".github-calendar-tooltip",
            )! as HTMLDivElement;
            let startDateStr = this.dataset.startDate;
            if (startDateStr === undefined) {
                throw new Error("github-calendar start-date is undefined");
            }
            const DAY_AS_MS = 86_400_000; // 1000 ms/s * 60 s/min * 60 min/hr * 24 hr/day
            const startDate = new Date(parseInt(startDateStr));
            const currentDate = startDate;
            for (const tile of tiles) {
                const commits = tile.dataset.c ?? "??";
                const tooltipContent = `${commits} commit${commits === "1" ? "" : "s"} on ${formatter.format(currentDate)}`;
                tile.addEventListener("pointerenter", (e) => {
                    if (e.pointerType !== "touch") {
                        this.#showTooltip(tile, tooltipContent);
                    }
                });
                tile.addEventListener("click", () => {
                    if (this.#tooltipVisibleTile === tile) {
                        this.#hideTooltip();
                    } else {
                        this.#showTooltip(tile, tooltipContent);
                        window.addEventListener(
                            "scroll",
                            () => this.#hideTooltip(),
                            {
                                passive: true,
                                once: true,
                            },
                        );
                    }
                });

                currentDate.setTime(currentDate.getTime() + DAY_AS_MS);
            }

            this.#container.addEventListener("pointerleave", (e) => {
                if (e.pointerType !== "touch") {
                    this.#hideTooltip();
                }
            });
        }

        #showTooltip(tile: HTMLDivElement, content: string) {
            this.#tooltipVisibleTile = tile;
            this.#tooltip!.textContent = content; // Set content
            // Get element widths
            const tileBox = tile.getBoundingClientRect();
            const htmlWidth = document.documentElement.clientWidth;

            this.#tooltip!.classList.remove("invisible", "opacity-0"); // Show
            const tooltipBox = this.#tooltip!.getBoundingClientRect();

            // Position tooltip
            const padding = 12;
            const tileCenterX = tileBox.left + tileBox.width / 2;
            let left = tileCenterX - tooltipBox.width / 2;
            // If tile is on screen, keep tooltip on screen.
            // If tile goes off screen, allow tooltop to clip off screen.
            if (left < padding) {
                if (tileBox.left >= 0) left = padding;
                else left = tileBox.left;
            } else if (left + tooltipBox.width + padding > htmlWidth) {
                if (tileBox.right <= htmlWidth)
                    left = htmlWidth - tooltipBox.width - padding;
                else left = tileBox.right - tooltipBox.width;
            }
            this.#tooltip!.style.left = `${left}px`;
            this.#tooltip!.style.top = `${tileBox.top - tooltipBox.height - padding}px`;
            // Position arrow
            this.#tooltip!.dataset.arrow = "bottom";
            this.#tooltip!.style.setProperty(
                "--arrow-x",
                `${tileCenterX - left}px`,
            );
        }

        #hideTooltip() {
            this.#tooltipVisibleTile = null;
            this.#tooltip!.classList.add("opacity-0", "invisible"); // Hide
        }
    }
    window.customElements.define("github-calendar", GitHubCalendarElement);
</script>

{
    /*
Styles for this component are made global for size optimization of the resulting HTML.
If we use Tailwind classes, each tile <div> becomes large because of the long class attribute.
If we use component-scoped styles, it's much better (saves ~200 kB), but Astro
still adds the data attribute to every element in the component for style scoping.
By making the styles global, we remove the need for a long data attribute on every element in this component,
thus resulting in ~270 kB of savings.
*/
}
<style is:global>
    @reference "@/styles/global.css";

    /* Calendar columns */
    .gh-column-parent > div {
        @apply flex flex-col gap-1;
    }

    /* Non-empty calendar tiles */
    .gh-column-parent > div > :not(.empty-tile) {
        @apply size-6 rounded-md border shadow-sm transition-transform ease-out hover:scale-125 hover:border-2;
    }

    .gh-column-parent .c4 {
        @apply border-green-900 bg-green-800;
    }

    .gh-column-parent .c3 {
        @apply border-green-700 bg-green-700/80;
    }

    .gh-column-parent .c2 {
        @apply border-green-600/30 bg-green-600/50;
    }

    .gh-column-parent .c1 {
        @apply border-green-600/20 bg-green-500/30;
    }

    .gh-column-parent .c0 {
        @apply border-stone-300 bg-stone-300/80;
    }

    .github-calendar-tooltip {
        &::after {
            content: "";
            position: absolute;
            left: var(--arrow-x);
            width: 0;
            height: 0;
            transform: translateX(-50%);
            border: 6px solid transparent;
        }

        &[data-arrow="top"]::after {
            border-bottom-color: var(--color-stone-600);
            bottom: 100%;
        }

        &[data-arrow="bottom"]::after {
            border-top-color: var(--color-stone-600);
            top: 100%;
        }
    }
</style>
