---
import AccentedTitleLayout from "@/layouts/AccentedTitleLayout.astro";
import { SEO } from "astro-seo";

import { getCollection } from "astro:content";
import { getBlogPostPath } from "@/lib/blog";
import type { CollectionEntry } from "astro:content";
import LocalizedDate from "@/components/LocalizedDate.astro";
import { Icon } from "astro-icon/components";

export const DESCRIPTION =
    "A place where I write about various programming-related things from time to time.";

// Group posts by year
type Post = CollectionEntry<"blog">;
const postsByYear: Map<number, Post[]> = new Map();
(await getCollection("blog")).forEach((post) => {
    const year = post.data.date.getUTCFullYear();
    if (!postsByYear.has(year)) {
        postsByYear.set(year, []);
    }
    postsByYear.get(year)!.push(post);
});
// Sort posts in each group by date in descending order (most recent first)
Array.from(postsByYear.values()).forEach((list) =>
    list.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
);
// Get years with posts in descending order (most recent first)
const sortedYears = Array.from(postsByYear.keys()).toSorted((a, b) => b - a);
---

<AccentedTitleLayout>
    <SEO
        slot="head"
        title="Blog | Kian Kasad"
        description={DESCRIPTION}
        openGraph={{
            basic: {
                title: "Kian's Blog",
                type: "website",
                image: new URL(
                    "/assets/laptoppfp2-offwhite-cropped-small.png",
                    Astro.url,
                ).href,
            },
            image: {
                url: new URL(
                    "/assets/laptoppfp2-offwhite-cropped-small.png",
                    Astro.url,
                ).href,
                height: 600,
                width: 600,
                type: "image/png",
                alt: "Profile picture of a cartoon frog typing on a laptop",
            },
            optional: {
                description: DESCRIPTION,
            },
        }}
        twitter={{
            title: "Kian Kasad",
            description: DESCRIPTION,
            image: new URL(
                "/assets/laptoppfp2-offwhite-cropped-small.png",
                Astro.url,
            ).href,
            imageAlt: "Profile picture of a cartoon frog typing on a laptop",
        }}
        extend={{
            link: [
                {
                    rel: "alternate",
                    type: "application/rss+xml",
                    title: "Kian's blog",
                    href: "feed.xml",
                },
            ],
        }}
    />

    <div slot="title">
        <div class="text-6xl font-black text-shadow-xs">Blog</div>
        <div class="flex justify-between gap-16 max-sm:gap-8">
            <p class="mt-8">
                {DESCRIPTION}
            </p>
            <div class="flex flex-row items-end pb-1 text-xl">
                <a href="feed.xml">
                    <Icon
                        class="inline align-middle"
                        name="fa7-solid:rss"
                        title="RSS feed"
                    />
                </a>
            </div>
        </div>
    </div>
    <div class="mx-auto mb-24 max-w-screen-lg pt-16 pr-8 pl-4 sm:px-16 sm:pl-8">
        {
            sortedYears.map((year, i) => (
                <div
                    class:list={[
                        "flex flex-row gap-4 sm:gap-8",
                        i > 0 && "mt-8",
                    ]}
                >
                    <div class="flex flex-none flex-col items-center">
                        <div class="text-secondary bg-background sticky top-4 -mt-4 flex-none px-4 [writing-mode:sideways-lr]">
                            {year}
                        </div>
                        <div class="border-secondary/50 w-0 flex-1 rounded-sm border-[0.5px]" />
                    </div>
                    <ul class="flex grow flex-col gap-8">
                        {i > 0 && <hr class="text-secondary/30" />}
                        {postsByYear.get(year)!.map((post, i) => (
                            <>
                                {i > 0 && <hr class="text-secondary/30" />}
                                <li>
                                    <a
                                        href={getBlogPostPath(post)}
                                        class="decoration-accent text-3xl font-bold decoration-4 hover:underline"
                                    >
                                        {post.data.title}
                                    </a>
                                    <div class="mt-2 text-sm text-stone-600">
                                        <LocalizedDate
                                            date={post.data.date}
                                            utc
                                        />
                                    </div>
                                    <p class="mt-2 text-lg">
                                        {post.data.description}
                                    </p>
                                </li>
                            </>
                        ))}
                    </ul>
                </div>
            ))
        }
    </div>
</AccentedTitleLayout>
