---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContactIcons from "@/components/landing/ContactIcons.astro";
import WebringLinks from "@/components/landing/WebringLinks.astro";
import ProfilePicture from "@/components/landing/ProfilePicture.astro";
import Affiliations from "@/components/landing/Affiliations.astro";
import GitHubContributions from "@/components/landing/GitHubContributions.astro";
import ProjectsSection from "@/components/landing/ProjectsSection.astro";
import NavLinks from "@/components/landing/NavLinks.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import CommonSEO from "@/components/CommonSEO.astro";
import BlogTeaser from "@/components/landing/BlogTeaser.astro";
import NotesTeaser from "@/components/landing/NotesTeaser.astro";
import Divider from "@/components/landing/Divider.astro";

const headingStyle =
    "decoration-accent mb-4 text-3xl font-black underline decoration-4";

const navLinks: [string, string | null][] = [
    ["About me", "#about-me"],
    ["Projects", "#projects"],
    ["Blog", "#blog"],
    ["Notes", "#notes"],
    // ["Work experience", "#work-experience"],
    // ["Other stuff", "#"],
];
---

<BaseLayout>
    <CommonSEO
        slot="head"
        title="Portfolio"
        cardTitle="Kian Kasad"
        description="My portfolio, blog, and maybe other things at some point."
    />

    {/* Container for first screenful of content */}
    <div class="flex min-h-screen flex-col justify-between gap-4">
        <Header />

        {
            /* Nameplate & about me section */
            /* Stacks vertically when screen is small; side-by-side when screen is large */
        }
        <div
            class="mx-auto mt-12 w-full px-8 md:px-16 xl:mt-0 xl:flex xl:flex-row xl:items-center xl:justify-evenly xl:gap-32"
        >
            <header class="flex-initial">
                <div class="text-xl font-bold">Hi, I'm</div>
                <div
                    class="flex flex-row items-center justify-between gap-2 sm:gap-8 md:gap-16 xl:justify-start"
                >
                    <!-- Left: Name plate & links -->
                    <div class="flex-2 drop-shadow-lg">
                        <div
                            class="mb-4 text-6xl font-black tracking-tight sm:text-8xl"
                        >
                            Kian<br />Kasad<span
                                class="text-accent font-default-sans">.</span
                            >
                        </div>
                    </div>

                    <!-- Right: profile picture -->
                    <div class="box-content max-w-56 min-w-30 flex-1">
                        <ProfilePicture />
                    </div>
                </div>
                <div class="mt-8 flex flex-row justify-between drop-shadow-sm">
                    <ContactIcons />
                    <WebringLinks />
                </div>
            </header>

            {/* About me */}
            <Affiliations {headingStyle} />
        </div>

        {/* GitHub contributions */}
        <section class="mt-16 flex-none xl:mt-0">
            <GitHubContributions />
        </section>

        {/* Heading links */}
        <NavLinks headings={navLinks} {headingStyle} />
    </div>

    <ProjectsSection {headingStyle} />
    <Divider />
    <BlogTeaser {headingStyle} />
    <Divider />
    <NotesTeaser {headingStyle} />
    <Divider />

    <Footer class="mt-24" />
</BaseLayout>
