---
import { getGitHubContributionWeeks } from "../lib/githubContributions";

function getTileColorClass(contributionCount: number) {
    return contributionCount >= 20
        ? "c4"
        : contributionCount >= 10
          ? "c3"
          : contributionCount >= 5
            ? "c2"
            : contributionCount >= 1
              ? "c1"
              : "c0";
}

const contributionInfo = await getGitHubContributionWeeks(
    "kdkasad",
    new Date("2020-01-01"),
);
const firstDay = contributionInfo.weeks[0].find((day) => day !== null)!;
const lastDay = contributionInfo.weeks.at(-1)!.at(-1)!;
const dateFormatterWeekday = Intl.DateTimeFormat("en-US", {
    weekday: "long",
    month: "short",
    day: "numeric",
    year: "numeric",
    timeZone: "UTC",
});
const dateFormatterJustDate = Intl.DateTimeFormat("en-US", {
    month: "long",
    day: "numeric",
    year: "numeric",
    timeZone: "UTC",
});
---

<div id="github-calendar" class="py-2">
    <div
        class="text-secondary flex h-8 flex-row items-end pl-8 font-mono text-lg"
    >
        {contributionInfo.totalContributions.toLocaleString()} commits total
    </div>
    <div
        class="flex w-full flex-row-reverse overflow-x-auto py-1 [scrollbar-color:var(--color-stone-300)_transparent] hover:[scrollbar-color:var(--color-stone-400)_transparent]"
    >
        <div class="flex w-fit flex-row gap-4 px-6">
            <div
                class="text-secondary rotate-180 text-center font-mono text-lg [writing-mode:vertical-rl]"
            >
                {dateFormatterJustDate.format(firstDay.date)}
            </div>
            <div class="flex flex-row gap-1">
                {
                    contributionInfo.weeks.map((week) => (
                        <div class="column">
                            {week.map((day) =>
                                day ? (
                                    <div
                                        class={`tile ${getTileColorClass(day.contributionCount)}`}
                                        title={`${day.contributionCount} commits on ${dateFormatterWeekday.format(day.date)}`}
                                    />
                                ) : (
                                    <div class="size-6" />
                                ),
                            )}
                        </div>
                    ))
                }
            </div>
            <div
                class="text-secondary text-center font-mono text-lg [writing-mode:vertical-rl]"
            >
                {dateFormatterJustDate.format(lastDay.date)}
            </div>
        </div>
    </div>
</div>

<style>
    @reference "../styles/global.css";

    .column {
        @apply flex flex-col gap-1;
    }

    .tile {
        @apply size-6 rounded-md border shadow-sm transition-transform ease-out hover:scale-125 hover:border-2;
    }

    .tile.c4 {
        @apply border-green-900 bg-green-800;
    }

    .tile.c3 {
        @apply border-green-700 bg-green-700/80;
    }

    .tile.c2 {
        @apply border-green-600/30 bg-green-600/50;
    }

    .tile.c1 {
        @apply border-green-600/20 bg-green-500/30;
    }

    .tile.c0 {
        @apply border-stone-300 bg-stone-300/80;
    }
</style>
