---
export interface Props {
    title: string;
    description?: string;
    author?: string;
}

const { title, description, author } = Astro.props;
---

{
    title && (
        <>
            <title>{title}</title>
            <meta property="og:title" content={title} />
        </>
    )
}

{description && <meta name="description" content={description} />}
{description && <meta property="og:description" content={description} />}

{author && <meta name="author" content={author} />}

<meta property="og:url" content={Astro.url.href} />
